<!DOCTYPE html>
<html lang="en">
<head>
  <title>暗影猎手</title>
  <meta name="Shadow Hunters" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138967428-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138967428-1');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async="" defer="">
  new Crate({
    server: '774628310822289431', // Shadow Hunters
    channel: '774628311267541023', // #find-a-game
    color: '#000'
  })
  </script>

  <style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Palatino, "Times New Roman", Times;
  }

  .bg {
    /* The image used */
    background-image: url("https://s3.amazonaws.com/shadowhunters.gfxresources/room.svg");

    /* Full height */
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav {
    list-style:none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
  }

  .nav li {
    display: inline;
  }

  .nav a {
    display:inline-block;
    padding:5px;
  }

  .rules {
    position: relative;
    left: 25%;
    width: 50%;
    color: #FFFFFF;
    padding-bottom: 20px;
  }

  .gameimage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
  }

  .portrait {
    float: left;
    margin: 0px 20px 0px 0px;
  }

  </style>

</head>

<body>
  <div class="bg">

    <ul class="nav">
      <a href="/" class="pull-left"><img src="/static/gfx/home.png" width="100"></a>
      <a href="/" class="pull-left"><img src="/static/gfx/logo.png"></a>
      <a href="/rules" class="pull-left"><img src="/static/gfx/rules.png" width="100"></a>
    </ul>

    <div class="rules">
      <h3 style="text-align: center">游戏人数：4 至 8 人</h3>
      <h3 style="text-align: center">游戏时间：30–45 分钟</h3>
      <h3 style="text-align: center">规则作者：Max Levatich</h3>
      <h4 style="text-align: center"><i>发现 Bug？请在 <a href="https://github.com/amritrau/shadow-hunters/issues/new" style="color: white">这里</a>报告，或查看我们的<a href="https://github.com/amritrau/shadow-hunters" style="color: white">代码</a>！</i></h4>

      <h2>游戏简介</h2>
      <p>
        《暗影猎手》是一款多人在线游戏，改编自同名<a href="https://en.wikipedia.org/wiki/Shadow_Hunters" target="_blank" style="color: white">桌游</a>。玩家将扮演属于三个不同阵营的角色。暗影来自冥界，他们的目标是消灭所有猎人；猎人则是人间的守护者，目标是消灭暗影；中立阵营置身于双方的冲突之中，各自追求隐藏的目标。<br>
        <br>
        夜幕降临，神秘森林边缘的废弃小镇笼罩在黑暗之中。不断变化的迷雾掩盖了敌我双方的身份，玩家必须在黑暗中出手之前，找出谁是朋友，谁是敌人！
      </p>

      <h2>如何开始游戏</h2>
      <p>
        开始《暗影猎手》游戏时，在主页输入玩家名称和房间号，然后点击“加入”。之后你会进入房间页面，可以与加入同一房间的其他玩家聊天。当房间内达到所需人数后，任意玩家都可以点击“开始游戏”按钮开始游戏。<br>
        <br>
        在等待房间中，还可以在“开始游戏”按钮上方选择游戏人数。如果选择的人数多于当前房间内的玩家人数，剩余位置将由电脑玩家补充。（最终游戏人数以点击“开始游戏”的玩家所选择的人数为准，其他玩家的选择将被忽略。）<br>
        <br>
        游戏过程中，如果玩家的 Wi-Fi 连接不稳定，可能会与游戏服务器断开连接。断线后玩家会被带回主页，而游戏中的该玩家将由电脑玩家接替。断线玩家只需在主页使用相同的玩家名称重新加入原来的房间，就可以重新连接并接替电脑玩家。如果所有玩家都离开游戏，游戏将结束。<br>
        <br>
        如果玩家尝试加入一个已经开始游戏的房间，他们将以观战者身份进入游戏。他们可以在聊天框中与其他玩家交流并观看游戏进程，但无法对游戏产生其他影响。
      </p>

      <h2>游戏界面</h2>
      <div class="gameimage">
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/ExampleBoard.png" width="100%">
      </div>
      <p>
        游戏开始后，所有玩家都会看到《暗影猎手》的游戏界面，如上图所示。图中的编号对应不同的界面元素：
      </p>
      <ol>
        <li>你的角色头像。头像左上角的彩色标记表示你的阵营——红色代表暗影，蓝色代表猎人，黄色代表中立。右下角的标记显示你的最大生命值（HP）。头像周围的细彩色圆圈表示你在游戏界面上的玩家棋子颜色。
        </li><br>
        <li>角色头像下方显示你的角色信息，包括角色名称、阵营、胜利条件和特殊能力。完成你的胜利条件即可赢得游戏！
        </li><br>
        <li>
          你的装备栏会显示你拥有的所有装备卡。每个装备栏位都会显示一件装备的图片，点击装备即可查看其名称和效果。装备卡会在适用的情况下自动生效，无需手动使用。
        </li><br>
        <li>
          生命值栏显示游戏中每位玩家当前受到的伤害，并通过与玩家颜色对应的彩色标记来区分。玩家受到伤害或恢复生命时，标记会在生命值栏上上下移动。当玩家受到的伤害达到其角色的最大生命值时，该玩家死亡并退出游戏！点击生命值栏可以查看各个可用角色的死亡生命值。留意其他玩家所在的位置，以推测他们可能扮演的角色！再次点击生命值栏即可关闭弹窗。
        </li><br>
        <li>
          游戏界面中央有三个区域组，每个区域组包含两个地点，代表玩家可以所在的不同位置。每个地点都有名称以及一个或多个数字，表示掷出相应的骰子结果后可以移动到该地点。点击地点卡可以查看在该地点可以执行的行动。
        </li><br>
        <li>
          每位玩家都会以棋子形式显示在游戏界面上。每个棋子都有独特的颜色，用于识别对应的玩家，并与生命值栏上的玩家标记颜色一致。棋子所在的位置表示该玩家当前所在的地点。点击棋子可以查看玩家名称和其拥有的装备；如果该玩家已经公开身份，还可以查看其角色信息。再次点击棋子即可关闭弹窗。
        </li><br>
        <li>
          当玩家需要采取行动时，例如轮到自己的回合、收到隐士卡或使用特殊能力时，游戏界面右下角会出现操作按钮，显示玩家可以执行的选项。当玩家需要从多个选项中进行选择，例如选择攻击对象或移动地点时，游戏界面中央会出现更大的选择框。点击相应按钮即可执行行动！
        </li><br>
        <li>
          在游戏的任何时候，你都可以点击角色头像下方的“揭示”按钮，向所有其他玩家公开自己的身份。身份公开后，你就可以使用自己的特殊能力！
        </li><br>
        <li>
          After you are revealed, the &ldquo;Reveal&rdquo; button will be replaced by a &ldquo;Special&rdquo; button.  Clicking on it will activate your special ability!  Some characters have restrictions on when they can use their special ability &ndash; clicking the button will still activate it, but it will only come into effect at the next point in the game when it is valid!
        </li><br>
        <li>
          三个区域组上方显示两个骰子，一个为四面骰，一个为六面骰。骰子显示的数字始终是最近一次掷骰的结果。玩家需要通过掷骰来移动、攻击以及使用某些卡牌，因此请留意骰子的结果！
        </li><br>
        <li>
          当玩家在冥界之门、墓地、教堂或隐士小屋执行抽卡行动时，抽到的卡牌会显示在游戏界面的左下角（隐士卡只会显示给送出和收到该卡的玩家）。黑卡、白卡和隐士卡通过不同颜色区分，同时显示卡牌名称、说明和图片。点击卡牌即可将其关闭；在点击之前卡牌不会自动消失，因此玩家可以按照自己的节奏阅读。
        </li><br>
        <li>
          游戏界面右上角有一个小按钮，可以打开游戏总结窗口，查看所有玩家的当前状态，包括所在地点、已经公开身份的角色信息以及所有装备。再次点击该按钮即可关闭总结窗口。
        </li><br>
        <li>
          游戏开始后，等待房间中的聊天框仍会保留。除了可以与其他玩家聊天之外，聊天框还会显示游戏中的各种事件以及其他玩家执行的行动。聊天框中的玩家名称会以对应玩家的颜色显示，其他游戏元素，例如地点或卡牌，也会使用相应颜色突出显示。
        </li><br>
        <li>
          游戏界面上方有按钮可以离开房间并返回主页，也可以在新标签页中打开本规则页面，以便随时查看规则。如果你在游戏进行期间离开，也可以随时从主页使用相同的玩家名称重新加入原来的房间，重新连接并接替代替你的电脑玩家！
        </li>
      </ol>

      <h2>游戏流程</h2>
      <p>
        《暗影猎手》以回合制进行。每位玩家的回合中，需要先掷骰移动，然后执行所在地点的行动，并可以攻击其他玩家。游戏开始时会随机决定玩家的行动顺序，之后按照该顺序依次进行，直到一名或多名玩家满足胜利条件，届时宣布获胜者并结束游戏！<br>
        <br>
        游戏开始时，玩家只知道自己的角色身份，并不知道其他玩家谁可能是盟友、谁可能是敌人。在自己的回合中，玩家可以根据骰子结果和抽牌情况进行攻击、治疗、收集装备，并逐渐了解其他玩家所属的阵营。一旦认清敌友，就可以更加有策略地追求自己的胜利条件！<br>
        <br>
        每一局游戏都会有所不同——地点卡会被洗牌，三个卡牌堆也会被洗牌。角色会随机分配给玩家，但根据游戏总人数，每个阵营的角色数量是固定的，具体如下：
      </p>
      <ul>
        <li>4 人游戏：2 名猎人，2 名暗影</li>
        <li>5 人游戏：2 名猎人，2 名暗影，1 名中立</li>
        <li>6 人游戏：2 名猎人，2 名暗影，2 名中立</li>
        <li>7 人游戏：2 名猎人，2 名暗影，3 名中立</li>
        <li>8 人游戏：3 名猎人，3 名暗影，2 名中立</li>
      </ul>
      <p>本页面底部列出了所有可使用的角色。</p>

      <h2>回合行动</h2>
      <h3>移动</h3>
      <p>
        每个回合开始时，当前玩家必须通过同时掷出两个骰子来移动到一个地点。游戏界面会出现掷骰提示，点击后即可掷骰。<br>
        <br>
        将两个骰子的点数相加，玩家必须移动到标有对应数字的地点卡。如果掷出的结果对应玩家当前所在的地点，导致玩家无法移动，则必须重新掷骰，直到能够移动为止。<br>
        <br>
        如果两个骰子的点数之和为 7，玩家可以选择除当前地点以外的任意地点移动，因为游戏中没有标有 7 的地点卡。
      </p>
      <h3>地点行动</h3>
      <p>
        玩家移动到一个地点后，可以选择执行该地点对应的特殊行动。各地点的行动如下：
      </p>
      <ul>
        <li>隐士小屋：抽取一张隐士卡并将其交给另一名玩家。</li>
        <li>教堂：抽取一张白卡并按照卡牌说明执行。</li>
        <li>墓地：抽取一张黑卡并按照卡牌说明执行。</li>
        <li>冥界之门：从三个卡牌堆中的任意一个抽取一张卡。</li>
        <li>怪异森林：对任意玩家造成 2 点伤害，或使任意玩家恢复 1 点伤害。</li>
        <li>古老祭坛：从任意玩家那里偷取一张装备卡。</li>
      </ul>
      <p>
        玩家移动到地点后，游戏界面会出现对应的地点行动提示。
      </p>
      <h3>攻击其他玩家</h3>
      <p>
        玩家完成地点行动后，可以攻击与自己位于同一区域组的另一名玩家。游戏界面上的每一对地点卡代表一个区域组。<br>
        <br>
        如果玩家选择攻击其他玩家，则同时掷出两个骰子，并造成等于两个骰子点数之差的伤害。如果差值大于 0，则攻击成功——这一点会影响某些装备卡和特殊能力的效果。<br>
        <br>
        玩家完成攻击或选择不攻击后，本回合结束，由下一名玩家开始回合。
      </p>

      <h2>卡牌</h2>
      <p>
        《暗影猎手》有三种卡牌堆，游戏界面上不会直接显示卡牌堆：隐士卡堆、黑卡堆和白卡堆。玩家移动到隐士小屋、墓地、教堂或冥界之门时，可以抽取这些卡牌。
      </p>
      <h3>隐士卡</h3>
      <p>
        隐士卡用于帮助玩家了解其他玩家的信息。当玩家抽到隐士卡时，先阅读卡牌上的说明，但自己不执行。然后选择一名玩家，将隐士卡交给对方；收到卡牌的玩家需要按照卡牌上的说明执行。<br>
        <br>
        卡牌说明通常类似于：“我猜你是暗影。如果是的话，受到 2 点伤害！”这样，当被选择的玩家执行卡牌说明时，使用隐士卡的玩家就能从结果中获得关于对方身份的信息！<br>
        <br>
        如果卡牌说明不适用于被选择的玩家，则什么也不会发生。
      </p>
      <h3>
        黑卡和白卡
      </h3>
      <p>
        黑卡和白卡分为两种类型：装备卡和一次性卡牌。抽到卡牌时，会在卡牌上显示其类型。<br>
        <br>
        一次性卡牌必须立即使用并弃置。抽到一次性卡牌后，游戏会提示玩家使用卡牌并执行相关行动，例如选择卡牌的目标玩家或掷骰。<br>
        <br>
        抽到装备卡后，该装备会加入玩家的装备栏。只要装备卡仍在装备栏中，玩家就会持续获得它的效果（装备也可能被其他玩家偷走）。装备卡会在适用的情况下自动生效，无需手动激活。多个装备的效果还可以叠加——多个伤害加成会累积！<br>
        <br>
        白卡通常偏向防御，其中一些白卡只有猎人能够有效利用。黑卡则通常偏向进攻，其中一些黑卡只有暗影能够从中获益。<br>
        <br>
        如果某个卡牌堆抽完了，弃牌堆会重新洗牌，并成为该卡牌堆的新抽牌堆。每个卡牌堆共有 16 张卡。
      </p>

      <h2>特殊能力</h2>
      <p>
        At any point during the game, any player may click the button below their character portrait to reveal their identity to everyone else in the game.  From this point forward, other players will be able to see information about the revealed player&rsquo;s character by clicking on their sprite, or opening the game summary tab.<br>
        <br>
        While it is generally useful to keep one&rsquo;s identity hidden, once a player has revealed they may use their character&rsquo;s special ability, and the &ldquo;Reveal&rdquo; button will be replaced by a &ldquo;Special&rdquo; button.  Each character in Shadow Hunters has a unique special ability.<br>
        <br>
        Some characters have restrictions on when they can use their special ability &ndash; clicking the button will still activate it, but it will only come into effect at the next point in the game when it is valid.  A list of all characters and their special abilities is provided at the bottom of this page.
      </p>

      <h2>死亡</h2>
      <p>
        When players take damage from attacks or cards, their colored token moves on the HP bar to reflect their current damage.<br>
        <br>
        If a player&rsquo;s damage reaches or exceeds their character&rsquo;s maximum HP (displayed in a red circle next to the character portrait), they will die.  If the player had any Equipment Cards, the killer chooses one to steal, and the rest are discarded.<br>
        <br>
        Dead players will have their turn skipped, but they can still win if their win conditions are satisfied (for example, if a Hunter dies, but the remaining Hunters kill all of the Shadows, all of the Hunters win).<br>
        <br>
        Dead players who leave the game will not be replaced by a computer player, and will not be able to reconnect to the game.
      </p>

      <h2>游戏结束</h2>
      <p>
        As soon as any player has satisfied their character&rsquo;s win condition, the game ends immediately and that player is declared the winner.  It is possible for many players to win simultaneously, even if they are in different factions, if they all satisfy their win conditions at once.<br>
        <br>
        游戏结束后，会弹出窗口显示获胜玩家的身份。游戏结束后仍然可以使用聊天功能，但如果要开始新游戏，需要返回首页并加入新的房间。<br>
        <br>
        我们真诚地希望你喜欢《暗影猎手》！来自开发团队的祝福：<br>
        <br>
        Amrit Rau, Gia Reyes, Vishal Patel, Max Levatich, and Joanna Wu
      </p>

      <h2>角色</h2>
      <p>
        下面列出了所有可使用的角色，包括角色名称、阵营、最大生命值、胜利条件和特殊能力： <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Ellen.png" class="portrait" height=105 width=105>
        角色：艾伦 <br>
        阵营：猎人 <br>
        最大生命值：10 <br>
        胜利条件：所有暗影均已死亡。 <br>
        特殊能力：每局游戏限一次。你的回合开始时，可以选择一名玩家，使其特殊能力永久失效。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Franklin.png" class="portrait" height=105 width=105>
        角色：富兰克林 <br>
        阵营：猎人 <br>
        最大生命值：12 <br>
        胜利条件：所有暗影均已死亡。 <br>
        特殊能力：每局游戏限一次。你的回合开始时，可以选择一名玩家，并使其受到一次六面骰子掷出的点数所对应的伤害。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Fu-ka.png" class="portrait" height=105 width=105>
        角色：风香 <br>
        阵营：猎人 <br>
        最大生命值：12 <br>
        胜利条件：所有暗影均已死亡。 <br>
        特殊能力：每局游戏限一次。你的回合开始时，可以将任意一名玩家的伤害值设为 7。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/George.png" class="portrait" height=105 width=105>
        角色：乔治 <br>
        阵营：猎人 <br>
        最大生命值：14 <br>
        胜利条件：所有暗影均已死亡。 <br>
        特殊能力：每局游戏限一次。你的回合开始时，可以选择一名玩家，并使其受到一次四面骰子掷出的点数所对应的伤害。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Ultrasoul.png" class="portrait" height=105 width=105>
        角色：超灵魂 <br>
        阵营：暗影 <br>
        最大生命值：11 <br>
        胜利条件：所有猎人（或 3 名中立角色）均已死亡。 <br>
        特殊能力：你的回合开始时，可以对位于冥界之门的一名玩家造成 3 点伤害。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Valkyrie.png" class="portrait" height=105 width=105>
        角色：女武神 <br>
        阵营：暗影 <br>
        最大生命值：13 <br>
        胜利条件：所有猎人（或 3 名中立角色）均已死亡。 <br>
        特殊能力：攻击时，只需掷四面骰子，并造成等于骰子点数的伤害。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Vampire.png" class="portrait" height=105 width=105>
        角色：吸血鬼 <br>
        阵营：暗影 <br>
        最大生命值：13 <br>
        胜利条件：所有猎人（或 3 名中立角色）均已死亡。 <br>
        特殊能力：如果你攻击一名玩家并造成伤害，则使自己的伤害减少 2 点。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Werewolf.png" class="portrait" height=105 width=105>
        角色：狼人 <br>
        阵营：暗影 <br>
        最大生命值：14 <br>
        胜利条件：所有猎人（或 3 名中立角色）均已死亡。 <br>
        特殊能力：受到攻击后，可以立即进行反击。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Allie.png" class="portrait" height=105 width=105>
        角色：艾莉 <br>
        阵营：中立 <br>
        最大生命值：8 <br>
        胜利条件：游戏结束时你仍然存活。 <br>
        特殊能力：每局游戏限一次，可以完全恢复自己的伤害。<br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Catherine.png" class="portrait" height=105 width=105>
        Name: Catherine <br>
        阵营：中立 <br>
        最大生命值：11 <br>
        胜利条件：你必须成为第一个死亡的玩家，或者成为最后存活的两名玩家之一。 <br>
        特殊能力：你的回合开始时，减少 1 点自己的伤害。 <br>
        <br>
        <br>
        <img src="https://s3.amazonaws.com/shadowhunters.gfxresources/Bob.png" class="portrait" height=105 width=105>
        角色：鲍勃 <br>
        阵营：中立 <br>
        最大生命值：10 <br>
        胜利条件：你拥有至少 5 张装备卡。 <br>
        特殊能力（4–6 人）：如果你的攻击造成至少 2 点伤害，你可以选择从目标玩家那里偷取一张装备卡，而不是造成伤害。<br>
        <span style="margin-left:7.8em">特殊能力（7–8 人）：如果你杀死另一名玩家，可以拿走该玩家所有的装备卡。</span><br>
      </p>

      <center>
        <h5 style="color:white;padding-top:50px;">喜欢《暗影猎手》吗？欢迎通过捐赠支持这个游戏！任何金额的支持我们都非常感谢。</h5>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="NGDMKE4W4VYU6" />
          <input type="hidden" name="item_name" value="Support shadowhunters.live!" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </center>

    </div>
  </div>
</body>
</html>
